body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f8;
}

nav {
    background: #12324a;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-logo {
    width: 100%;
    max-width: 430px;
    display: block;
    margin: 0 auto 18px auto;
}
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    width: 220px;
    background: #12324a;
    color: white;
    border: none;
}

.erro {
    color: red;
}