body {
    font-family: Arial;
}

.menu a {
    margin-right: 10px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}