{% if session.get("usuario") %}
VOLLEYTABLE PRO

Sistema de Gestão de Voleibol

{{ session.get("usuario") }} {{ session.get("perfil") }}
Início {% if session.get("perfil") == "superadmin" %} Usuários Minha Conta Listagem Oficial {% elif session.get("perfil") == "organizador" %} Minha Competição Equipes Usuários Aprovações Listagem Oficial Prazos Minha Conta {% elif session.get("perfil") == "mesario" %} Tabela Pré-jogo Jogo {% elif session.get("perfil") == "equipe" %} Meu Time {% endif %} Sair
{% endif %}
{% block conteudo %}{% endblock %}