{% extends "base.html" %}

{% block conteudo %}
<h2>Competições</h2>

{% if session.get("perfil") == "superadmin" %}
    <a class="botao" href="{{ url_for('nova_competicao') }}">Nova Competição</a>
{% endif %}

<hr>

<div style="display:flex; flex-wrap:wrap; gap:20px; margin-top:20px;">

{% for nome, comp in competicoes.items() %}
    <div style="
        border:1px solid #ccc;
        padding:15px;
        width:300px;
        border-radius:10px;
        background:#f9f9f9;
    ">
        <h3>{{ comp.nome }}</h3>

        <p><strong>Data:</strong> {{ comp.data }}</p>
        <p><strong>Status:</strong> {{ comp.status }}</p>
        <p><strong>Organizador:</strong> {{ comp.organizador_login }}</p>

        {% if session.get("perfil") == "organizador" %}
            <a class="botao" href="{{ url_for('editar_competicao', nome=comp.nome) }}">
                Configurar
            </a>
        {% endif %}

        {% if session.get("perfil") == "superadmin" %}
            <br><br>
            <a class="botao" href="{{ url_for('gerenciar_competicao_superadmin', nome=comp.nome) }}">
                ⚙️ Gerenciar
            </a>
        {% endif %}
    </div>
{% endfor %}

</div>

{% endblock %}